<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Instrucciones</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            text-align: center;
            background-color: #e6ffe6;
        }

        h1 {
            color: #28a745;
        }

        p {
            font-size: 1.2em;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <h1>¡Instrucciones de Embarque Enviadas con Exito!</h1>
    <p>Tu información ha sido recibida y se está procesando.</p>
    <p><a href="{% url 'crear_instruccion' %}">Volver al formulario</a></p>
</body>
</html>