{% extends "app/layout.html" %}

{% block content %}

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="static/app/imagenes/imagen1.jpg" class="d-block w-100 mx-auto" alt="Transporte">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:white">Mi Naviera</h5>
                <p style="color:white">Hacemos que el comercio global ocurra</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="static/app/imagenes/imagen2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Cleaning Future for Shipping</h5>
                <p>Impulsar la sostenibilidad</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="static/app/imagenes/imagen3.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <a>Mas Informacion</a>
                <p>Mejor Planificacion con datos en tiempo real...</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<hr />

<div class="sectionheadline">
    <a class="hal-anchor " name="anchor_e3ce4b" id="anchor_e3ce4b"></a>
    <div class="hal-page-container-content ">
        <div class="hal-section-headline hal-module--border text-center">

            <h2 class="hal-h4">News &amp; Insights</h2>
            <h3 class="hal-h1">Top News: A solo un clic</h3>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="static/app/imagenes/imagen7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">24 de Mayo 2025</h5>
                <p class="card-text">Mi Naviera presenta Promesas de Calidad mejoradas como parte de la Estrategia 2030</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="static/app/imagenes/imagen6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">24 de Mayo 2025</h5>
                <p class="card-text">La Asamblea General Anual de Mi Naviera aprueba todas las resoluciones propuestas</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="static/app/imagenes/imagen8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">24 de Mayo 2025</h5>
                <p class="card-text">Hapag-Lloyd publica cifras preliminares de negocios para el primer trimestre de 2025</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>

{% endblock %}
